.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
/* background */
body {
    background: linear-gradient(to bottom, #d4d3d3 0%, #000 100%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: "Poetsen One", sans-serif;
}

/*Grid Layout*/
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

/*Navigation*/
.nav { 
    grid-area: 1 / 1 / 2 / 4; 
    height: 8vh; 
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    right: 1px;

    background: linear-gradient(to top, #ffffff00 0%, #4c4c4c 100%);
    font-size: 30px;
    color:#ffffff;
    text-align: end;
    padding-top: 1em;
    padding-bottom: 10px;
    
    z-index: 100;
}

.navName{
    position: absolute;
    left: 0;
    top: 0;
}
a {
    color: #ffffff;
    padding: 1em 1em 1em 1em;
    text-decoration: none;
    transition: all;
}
a:hover {
    color: #474747;
    text-decoration: underline;
    transition: 1000ms;
    cursor: pointer;
}

/*Head shot Carousel*/
.headshot { 
    grid-area: 2 / 1 / 6 / 2; 
    height: 60vh; 
    margin-top: 10vh;
    position: absolute;
    margin-left: 5vw;
    display: flex;
    justify-self: left;
    align-items: left;
}
.carousel {
    position: relative;
    height: 60vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*text-wrap: wrap;*/
    margin-top: 30px;
    transition: opacity 1s ease-in-out;
}
.carousel img {
    height: 55vh;
    width: auto;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Biography*/
.bio { 
    grid-area: 2 / 2 / 4 / 4; 
    height: 20vh; 
    text-align: center;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1.5;
    margin: 5px 5px 5px 5px;
    padding-right: 20px;
    color: white;
}
.text p{
    font-size: 30px;
    padding-top: 5vh;
}
.text .secondp{
    font-size: 20px;
}

/**/
.images { 
    height: 10vh; 
    width: auto;
}

/**/
.slider { 
    grid-area: 5 / 2 / 6 / 4; 
    height: 10vh; 
    width: auto;
}

/*Footer*/
.footer { 
    grid-area: 6 / 1 / 7 / 4; 
    height: 5vh;
    margin-top: 8vh;
    color: white;
}
.contactImg {
    height: 50px;
    width: 50px;
}
.contactInfo {
    text-align: center;
}