.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* background */
body {
    background: linear-gradient(to bottom, #d4d3d3 0%, #000 100%);
    width: 100%;
    font-family: "Poetsen One", sans-serif;
}

/*navagation bar*/
nav {
    /*size and initial position of the bar*/
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    right: 1px;

    /*color of the nav bar*/
    background: linear-gradient(to top, #ffffff00 0%, #4c4c4c 100%);
    font-size: 30px;
    color:#ffffff;
    text-align: end;
    padding-top: 1em;
    padding-bottom: 10px;
    
    /*makes sure it is never behind something else*/
    z-index: 100;
}

/* nav links */
.navName{
    position: absolute;
    left: 0;
    top: 0;
}

a {
    color: #ffffff;
    padding: 1em 1em 1em 1em;
    text-decoration: none;
}
a:hover {
    color: #474747;
}

/*Footer*/
.footer {
    color: white;
}
.contactInfo {
    text-align: center;
}
.content{
    margin-top: 60px;
}

/*Form*/
iframe{
    width: 100%;
}

/*Contact Image*/
.contactImg {
    height: 50px;
    width: 50px;
}
.footer {
    color: white;
}
.contactInfo {
    text-align: center;
}